<section class="hero-section" id="home">
    <div class="container hero-container">
        <h1 class="hero-title">Jhana of God:</h1>
        <p class="hero-text">Reveal. Reflect. Receive.</p>
            <img class="hero-title-img" src="/img/hero/logo-desk.png" alt="Jhana of God" loading="lazy" />    
        <a class="hero-button" href="#demo">
        <img class="hero-btn pulse" src="/img/hero/button@2x.png" alt="Enter" loading="lazy" />
        </a>
    </div>
</section>
<section class="disclaimer-section">
    <div class="container disclaimer-container">
        <h2 class="disclaimer-title">Disclaimer</h2>
        <p class="disclaimer-text">bittrackio.online IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE
        SAME AS WINNING IN REAL LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS GAME.</p>
    </div>
</section>
<section class="about-section">
    <div class="container about-container" id="about">
        <img class="about-img" src="/img/about/mob.png" alt="Game" loading="lazy">
        <h2 class="about-title">ABOUT</h2>
        <p class="about-text">So you're basically wandering around this mystical Asian jungle, right? There are sacred animals hiding everywhere, and
        these rivers that kinda just lead you where you need to go. The forest literally comes to life - everything's glowing,
        and you start seeing these symbols that just... work together perfectly, you know? The deeper you go, the more you can
        actually feel the spiritual heartbeat of this magical place.<br/>
        This is gambling transformed into meditation.</p>
    </div>
</section>
<section class="feature-section" id="demo">
    <div class="container feature-container">
        <div class="demo-wrapper">
        <div class="iframe-wrapper">
            <iframe id="gameIframe"></iframe>
        
            <button id="closeIframeBtn" class="hidden-close-btn" aria-label="Close">
                <img src="/img/communities.png" alt="Close">
            </button>
        </div></div>
        <p class="feature-text">Just go with the flow and let the mystical waters do their thing.</p>
 
<h2 class="feature-title">BONUS FEATURE</h2>
<p class="feature-text-two">Get the Golden Buddha symbol and BAM - bonus round time! All sorts of hidden stuff in the jungle opens up. When it
starts, this river basically carries you through these crazy intense rounds. The energy goes through the roof and the
symbol combos are insane.</p>
<a class="demo-btn" href="#" data-game-url="https://games-cv.com/jhana_of_god_bonus_buy?refCode=promoRefCode"
    target="gameIframe">

        <img class="demo-img pulse" src="/img/button.png" alt="Play Free" loading="lazy" />

</a>
   </div>
</section>