<section class="hero-section" id="home">
    <div class="container hero-container">
        <h1 class="hero-title">Jhana of God:</h1>
        <p class="hero-text">Reveal. Reflect. Receive.</p>
            <img class="hero-title-img" src="/img/hero/logo-desk.png" alt="Jhana of God" loading="lazy" />    
        <a class="hero-button" href="#demo">
        <img class="hero-btn pulse" src="/img/hero/button@2x.png" alt="Enter" loading="lazy" />
        </a>
    </div>
</section>
<section class="disclaimer-section">
    <div class="container disclaimer-container">
        <h2 class="disclaimer-title">Disclaimer</h2>
        <p class="disclaimer-text">bittrackio.online IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE
        SAME AS WINNING IN REAL LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS GAME.</p>
    </div>
</section>