body{
  background:url("/img/back/mob.jpg"), linear-gradient(180deg, #fff 0%, #c0e4ff 100%);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #0c0644;
}
h2{
  font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 0.8125;
    text-transform: uppercase;
    text-align: right;
    color: #0c0644;
}
