.cookie-popup {
    position: fixed;
    bottom: 30px;
    left: 48%;
    transform: translateX(-48%);
    padding: 40px 4px 45px;
background: #fff;
    z-index: 1000;
    width: 374px;

    height: auto;
    text-align: left;
    display: none;
}

.cookie-class {
font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #0c0644;
    width: 303px;
    margin-left: auto;
    margin-right: auto;
}

.cookie-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
width: 363px;
    height: 40px;
    margin-top: 16px;
}

.btn-accept {
border-radius: 12px;
    padding: 10px;
    width: 168px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #40f;
    box-sizing: border-box;
    border: none;
font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.btn-decline {
    border: none;
border-bottom: 2px solid #ea54d1;
    padding: 10px;
    width: 175px;
    height: 40px;
font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #ea54d1;
    text-align: center;
    box-sizing: border-box;
    background-color: inherit;
}


@media screen and (min-width: 1439px) {
    .cookie-popup {
        padding: 40px 244px;
        width: 1439px;
        height: auto;
    }

    .popup-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .cookie-class {
        width: 952px;
        text-align: left;
        margin-top: 0;
    }

    .cookie-buttons {
        flex-direction: row;
        gap: 80px;
    width: 468px;
        height: 40px;
        margin-top: 0;
    }
}