footer{
  background-image: url("/img/footer/mob.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.footer-navigation{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.08333;
    color: #40f;
}
.footer-text{
  margin-top: 16px;
  font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: #0c0644;
}
@media only screen and (min-width: 1439px) {
  .footer{
    background-image: url("/img/footer/cloud.png"), url("/img/footer/desk.png");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, bottom left;
    background-size: contain, contain;
  }
  .footer-navigation{
    flex-direction: row;
    justify-content: space-between;
    width: 1090px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-text{
    margin-top: 39px;
  }
}
