.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
background: #40f;
  height: 48px;
  width: 100%;
}

.header-container {
  padding:0 12px;
  display: flex;
  justify-content: space-between;
}



.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: inherit;
  margin-right: 10px;
  margin-left: auto;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
background: #40f;
  width: 374px;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
padding: 113px 70px 167px;
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: left;
}

.menu-list-item {
font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.55556;
  text-transform: uppercase;
  color: #fff;
}


@media screen and (min-width: 1440px) {
  .header {
    width: 100%;
    height: 96px;
  }

  .header-container {
    padding: 16px 88px;
    justify-content: space-between;
  }


  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 360px;
    padding: 8px;
    gap: 40px;
    justify-content: center;
  }

  .header-container {
    padding: 16px 63px;
  }

  .navigation-item {
    border-radius: 360px;
    padding: 8px 12px;
    font-weight: 300;
    font-size: 18px;
    transition: background 0.3s easy;
  }

  .navigation-item:hover,
  .navigation-item:active {
    background: rgba(255, 255, 255, 0.2);
    ;
  }
}