.hero-container{
   padding-bottom: 0; 
}
.hero-title{
    margin-top: 50px;
        font-weight: 700;
        font-size: 64px;
        line-height: 1;
        text-transform: capitalize;
        color: #0c0644;
        text-align: left;
}
.hero-text{
    margin-top: 24px;
    text-align: left;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16667;
        text-transform: capitalize;
        color: #0c0644;
        opacity: 0.5;
}
.hero-title-img{
    display: none;
}
@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
    width: 261px;
    height: 60px;
    margin-left: 0;
    margin-right: auto;
    margin-top: 48px;
}
@media only screen and (min-width: 1439px) {
.hero-title{
    margin-top: 170px;
}
.hero-container{
    position: relative;
}
.hero-title-img{
    display: block;
    position: absolute;
    width: 720px;
    height: 293px;
    right: 123px;
    top: 88px;
}
}
/* disclaimer */
.disclaimer-container{
    padding-top: 118px;
}
.disclaimer-title{
font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    font-size: 47px;
    line-height: 0.42553;
    text-transform: uppercase;
    color: #ea54d1;
    text-align: center;
}
.disclaimer-text{
    margin-top: 33px;
    font-family: "Montserrat Alternates", sans-serif;
        font-weight: 900;
        font-size: 24px;
        line-height: 1.33333;
        text-align: justify;
        color: #0c0644;
}
@media only screen and (min-width: 1439px) {
   .disclaimer-container{
    padding-top: 86px;
    padding-bottom: 30px;
   }
   .disclaimer-title{
    text-align: left;
   }
   .disclaimer-text{
    font-size: 32px;
        line-height: 1.25;
   }
}