.hero-container{
   padding-bottom: 0; 
}
.hero-title{
    margin-top: 50px;
        font-weight: 700;
        font-size: 64px;
        line-height: 1;
        text-transform: capitalize;
        color: #0c0644;
        text-align: left;
}
.hero-text{
    margin-top: 24px;
    text-align: left;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16667;
        text-transform: capitalize;
        color: #0c0644;
        opacity: 0.5;
}
.hero-title-img{
    display: none;
}
@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
    width: 261px;
    height: 60px;
    margin-left: 0;
    margin-right: auto;
    margin-top: 48px;
}
@media only screen and (min-width: 1439px) {
.hero-title{
    margin-top: 170px;
}
.hero-container{
    position: relative;
}
.hero-title-img{
    display: block;
    position: absolute;
    width: 720px;
    height: 293px;
    right: 123px;
    top: 88px;
}
}
/* disclaimer */
.disclaimer-container{
    padding-top: 118px;
}
.disclaimer-title{
font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    font-size: 47px;
    line-height: 0.42553;
    text-transform: uppercase;
    color: #ea54d1;
    text-align: center;
}
.disclaimer-text{
    margin-top: 33px;
    font-family: "Montserrat Alternates", sans-serif;
        font-weight: 900;
        font-size: 24px;
        line-height: 1.33333;
        text-align: justify;
        color: #0c0644;
}
@media only screen and (min-width: 1439px) {
   .disclaimer-container{
    padding-top: 86px;
    padding-bottom: 30px;
   }
   .disclaimer-title{
    text-align: left;
   }
   .disclaimer-text{
    font-size: 32px;
        line-height: 1.25;
        text-align: left;
   }
}
/* about */
.about-title{
    margin-top: 47px;
}
.about-text{
    margin-top: 32px;
    text-align: right;
}
@media only screen and (min-width: 1439px) {
   .about-img{
    display: none;
   }
   .about-title{
    margin-top: 0;
   }
   .about-text{
    width: 711px;
    margin-left: auto;
    margin-right: 0;
   }
}
/* feture */
@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.demo-img.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.demo-wrapper {
    position: relative;
    max-width: 1200px;
    border: 1px solid #000;
    height: 630px;
    margin: 0 auto;
}

.demo-img{
    margin-top: 21px;

}
/* iframe поверх картинки */
.iframe-wrapper {
    position: absolute;
    top: 0%;
    /* під екран у картинці */
    left: 39%;
    transform: translateX(-58%);
    width: 68%;
    height: 54%;
    z-index: 5;
}

#gameIframe {
    width: 148%;
    height: 186%;
    border: none;
    display: none;
    background: #000;
}

#closeIframeBtn {
    position: absolute;
    top: 32px;
    right: -90px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 10;
    width: 60px;
    height: 40px;
}
.feature-text{
    margin-top: 47px;
        font-style: italic;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.20833;
        text-align: center;
        color: #0c0644;
}
.feature-title{
    margin-top: 95px;
}
.feature-text-two{
    margin-top: 21px;
    text-align: right;
}
.feature-container{
    padding-bottom: 349px;
}
@media only screen and (min-width: 1439px) {
  .demo-wrapper{
    height: 570px;
  }
  #closeIframeBtn{
    top: 52px;
right: -320px;
  }
}