@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./footer.css');
@import url('./header.css');
@import url('./cookie-popup.css');

.background {
    background: linear-gradient(180deg, #fff 0%, #c0e4ff 100%);
font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #0c0644;
}

.privacy-title {
    font-family: "Prompt", sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 1.14286;
    text-transform: uppercase;
    text-align: center;
    color: #292a2b;
    margin-top: 40px;
    margin-bottom: 40px;
    background: none;
    background-image: none;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: initial;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
    font-weight: 700;
    color: #292a2b;
    margin-top: 20px;
    font-size: 20px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 30px;
}

.underline {
text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #40f;
}

.text {
    margin-top: 20px;
}

.mail-link {
text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #40f;
}
.policy-deislaimer{
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    gap: 33px;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 900;
        font-size: 24px;
        line-height: 1.33333;
        text-align: justify;
        color: #0c0644;
}

.policy-discliamer-title{

        font-family: "Montserrat Alternates", sans-serif;
            font-weight: 900;
            font-size: 40px;
            line-height: 0.5;
            color: #ea54d1;
            text-align: center;
}
@media only screen and (min-width: 1439px) {
    .background {
        text-align: left;
    }

    .privacy-title {
        font-weight: 800;
        font-size: 32px;
        margin-top: 120px;
    }
        .policy-deislaimer {
            margin-top: 88px;
        font-size: 32px;
        }
    
        .policy-discliamer-title {
            text-align: left;
        }
}